<!DOCTYPE html>
<html>
<head><title>Mein Web-Rechner</title></head>
<body>
    <h1>Python Additions-Rechner</h1>
    <form action="/addieren" method="get">
        <label>Zahl 1:</label>
        <input type="number" name="a" required><br><br>

        <label>Zahl 2:</label>
        <input type="number" name="b" required><br><br>

        <button type="submit">Berechnen</button>
    </form>
    
    <div style="position: fixed; bottom: 20px; left: 20px;">
        <a href="/">🏠 Zur Startseite</a>
    </div>
</body>
</html>