<!DOCTYPE html>
<html>
<head>
    <title>Mein Web-Rechner</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🧮</text></svg>">
</head>
<body>
    <h1>Python Additions-Rechner</h1>
    <form action="/addieren" method="get">
        <label>Zahl 1:</label>
        <input type="number" name="a" required><br><br>

        <label>Zahl 2:</label>
        <input type="number" name="b" required><br><br>

        <button type="submit">Berechnen</button>
    </form>
    
    <div style="position: fixed; bottom: 20px; left: 20px;">
        <a href="/">🏠 Zur Startseite</a>
    </div>
</body>
</html>