    <!DOCTYPE html>
    <html>
    <head><title>Startseite</title></head>
    <body>
        <h1>Willkommen auf meiner ersten Web-App!</h1>
        <p>Was möchtest du tun?</p>
        <ul>
            <!-- Der Link zur Eingabemaske -->
            <li><a href="/rechner">Zum Additions-Rechner wechseln</a></li>
        </ul>
        <p>Oder du kannst auch direkt auf Seite 1 gehen:</p>
        <ul>
            <li><a href="/seite1">Gehe zu Seite 1</a></li>
        </ul>
        <p>Oder du kannst auch direkt auf die Bootstrap-Seite gehen:</p>
        <ul>
            <li><a href="/bootstrap">Gehe zu Bootstrap-Seite</a></li>
        </ul>

        <p>Oder du kannst auch direkt auf die Über Mich-Seite gehen:</p>
        <ul>
            <li><a href="/ueberMich">Gehe zu Über Mich</a></li>
        </ul>
    </body>